@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

$avatar-size: 64px;

.UserAvatar-image {
  height: auto;
  width: 100%;
}

.UserProfile {
  margin: $padding-page;
}

.UserProfile-wrapper {
  display: flex;
}

.UserProfile-user-info {
  .Card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(large) {
    min-width: 300px;
    width: 35%;
  }
}

.UserProfile-avatar {
  height: $avatar-size;
  margin: 0 0 12px;
  overflow: hidden;
  width: $avatar-size;
}

.UserProfile-avatar .Icon {
  height: $avatar-size;
  width: $avatar-size;
}

.UserProfile-name {
  @include font-regular();

  font-size: $font-size-l;
  grid-column: 1 / span 2;
  margin: 0;

  @include respond-to(medium) {
    font-size: $font-size-xl;
  }
}

.UserProfile-rating-average .Rating {
  @include margin(0, 0, 0, -3px);

  justify-content: start;
}

.UserProfile-abuse-button .ReportUserAbuse-show-more {
  width: 100%;
}

.UserProfile-userType {
  font-weight: normal;
  grid-column: 2;

  @include text-align-end();
}
