@import "~core/css/inc/vars";

.ErrorList {
  background-color: $error-background-color;
  border-radius: $border-radius-default;
  color: $error-text-color;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
}

.ErrorList-item {
  list-style: none;
  margin-bottom: 8px;

  .Button {
    background-color: $error-button-background-color;
    border-radius: $border-radius-s;
    color: $error-button-text-color;
    font-size: $font-size-s;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
